:root {
  --main-color: #edf2f6;
  --secondary-color: #184974;
  --shadow-color: #061420;
  --overlay-color: #0614209d;
  --contact-section-width: 260px;
  --nav-width: 100%;
  --nav-btn-width: 12%;
  --space-from-nav: 48px;
}

body {
  margin: 0px 24px;
  background-color: var(--secondary-color);
  overflow-x: hidden;
}

.site-heading {
  box-sizing: border-box;
  white-space: nowrap;
  letter-spacing: 0.25cm;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
  background-color: var(--secondary-color);
  padding: 0px 0px;
  z-index: 1;
}

.site-heading h1 {
  margin: 0px;
  margin-bottom: 16px;
  font-size: 64px;
  font-family: 'Bevan';
  font-weight: 400;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--shadow-color);
  text-shadow: 0px 0px 8px var(--shadow-color);
}

nav {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: var(--nav-width);
  height: 95px;
  background-color: var(--secondary-color);
  z-index: 2;
}

nav .btn {
  display: flex;
  position: absolute;
  top: 0%;
  left: calc(20% - var(--nav-btn-width) / 2);
  flex-direction: column;
  align-items: center;
  color: var(--secondary-color);
  background-color: var(--main-color);
  box-shadow: 0px 0px 16px var(--shadow-color);
  rotate: -10deg;
  border-radius: 8px;
  margin: 4px;
  text-align: center;
  height: 65%;
  width: var(--nav-btn-width);
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out,
    rotate 0.7s ease-in-out, left 0.7s ease-in-out, font-size 0.4s ease-in-out,
    background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

nav .btn + .btn {
  left: calc(50% - var(--nav-btn-width) / 2);
}

nav .btn + .btn + .btn {
  left: calc(80% - var(--nav-btn-width) / 2);
}

nav .btn:hover {
  animation-duration: 0.7s;
  animation-name: navBtnHover;
  rotate: 10deg;
  width: 15%;
  height: 80%;
  font-size: 22px;
  color: var(--secondary-color);
  background-color: #ffff;
}

.btn {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  color: var(--main-color);
}

.icon-nav {
  margin-bottom: 8px;
}

.container {
  position: relative;
  display: flex;
  margin-top: var(--space-from-nav);
  height: 100%;
  /* 24px is the margin on each side of the body = 48px */
  width: calc(100vw - 48px);
}

.contact-section {
  width: var(--contact-section-width);
  height: 100%;
  text-align: center;
}

.contact-div {
  margin-bottom: 48px;
  color: var(--main-color);
}

.contact-div i {
  display: block;
  font-size: 36px;
  text-align: center;
  color: var(--main-color);
  padding-bottom: 8px;
}

.contact-detail {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}

.contact-detail a {
  color: var(--main-color);
}

.contact-heading {
  text-transform: uppercase;
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

.content {
  position: relative;
  width: calc(100vw - var(--contact-section-width));
}

.panels {
  display: flex;
  justify-content: center;
  width: 100%;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 55vh;
  outline: 4px solid var(--main-color);
  border: 4px solid var(--secondary-color);
  border-radius: 8px;
  color: #ffff;
  cursor: pointer;
  width: 100px;
  margin: 0px 16px;
  position: relative;
  transition: width 0.7s ease-in;
}

.panel .caption {
  box-sizing: border-box;
  font-size: 24px;
  overflow-x: hidden;
  padding: 16px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 0;
  opacity: 0;
  width: 100%;
  height: 100px;
  background-color: var(--overlay-color);
  transition: opacity 0.3s ease-out 0.6s;
}

.panel.active {
  width: 50%;
}

.panel.active .caption,
.panel.active .caption h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.6s;
}

@keyframes navBtnHover {
  from {
    rotate: -10deg;
  }

  to {
    rotate: 10deg;
  }
}

/* HOME PAGE SPECIFIC */
.home-img {
  padding: 8px;
  background-color: #fff;
  border: 4px solid var(--secondary-color);
  outline: 4px solid var(--main-color);
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
}

.content.home {
  display: flex;
  justify-content: center;
}

/* ABOUT PAGE SPECIFIC */

.about-article {
  position: relative;
  margin-right: 48px;
  margin-bottom: 24px;
  border: 2px solid var(--main-color);
  padding: 16px;
  border-radius: 8px;
  background-color: var(--main-color);
  color: var(--secondary-color);
  box-shadow: 0px 0px 16px var(--shadow-color);
}

.img-container {
  box-sizing: border-box;
  object-fit: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 4px;
  border: 4px solid var(--secondary-color);
  border-radius: 8px;
}

.about-text {
  padding: 16px;
  font-size: 18px;
}

/* SERVICES PAGE SPECIFIC */

.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
}

.service {
  position: relative;
  border: 2px solid var(--main-color);
  box-shadow: 0px 0px 16px var(--shadow-color);
  color: var(--main-color);
  border-radius: 8px;
  margin: 24px;
  transform: translateX(400%);
  transition: transform 2s ease;
}

.service:nth-of-type(even) {
  transform: translateX(-400%);
}

.service.show {
  transform: translateX(0);
}

.service-img {
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding-top: 59px;
  border-radius: 8px;
}

.service-description {
  position: absolute;
  top: 0;
  font-weight: 600;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 16px 0px;
  margin: 0;
  width: 100%;
  font-size: 24px;
  background-color: var(--overlay-color);
}
