:root {
  --main-color: #edf2f6;
  --secondary-color: #184974;
  --shadow-color: #061420;
  --overlay-color: #0614209d;
  --contact-section-width: 260px;
  --nav-width: 100%;
  --nav-btn-width: 15%;
  --nav-btn-min-width: 86px;
  --space-from-nav: 48px;
}

* {
  box-sizing: border-box;
}

/* PAGE TRANSITION */
body {
  opacity: 0;
  transition: opacity 0.5s;
  overflow-x: hidden;
}

body {
  margin: 24px;
  background-color: var(--secondary-color);
}

.site-heading {
  box-sizing: border-box;
  letter-spacing: 0.25cm;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
  background-color: var(--secondary-color);
  padding: 0px 0px;
  z-index: 1;
  opacity: 0;
  animation: 1s ease 1s normal forwards 1 fadein;
}

.site-heading h1 {
  margin: 0px;
  margin-bottom: 16px;
  font-size: 64px;
  font-family: 'Bevan';
  font-weight: 400;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--shadow-color);
  text-shadow: 0px 0px 8px var(--shadow-color);
}

nav {
  box-sizing: border-box;
  position: relative;
  width: var(--nav-width);
  height: 95px;
  background-color: var(--secondary-color);
  z-index: 2;
}

nav .btn {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0%;
  left: calc(20% - var(--nav-btn-width) / 2);
  flex-direction: column;
  align-items: center;
  color: var(--secondary-color);
  background-color: var(--main-color);
  box-shadow: 0px 0px 16px var(--shadow-color);
  rotate: -10deg;
  border-radius: 8px;
  margin: 4px;
  text-align: center;
  width: var(--nav-btn-width);
  min-width: var(--nav-btn-min-width);
  transition: rotate 0.7s ease-in-out, left 0.7s ease-in-out,
    font-size 0.4s ease-in-out, background-color 0.4s ease-in-out,
    color 0.4s ease-in-out, padding 0.4s ease-in-out;
}

nav .btn + .btn {
  left: calc(50% - var(--nav-btn-width) / 2);
}

nav .btn + .btn + .btn {
  left: calc(80% - var(--nav-btn-width) / 2);
}

nav .btn:hover {
  cursor: pointer;
  animation-duration: 0.7s;
  animation-name: navBtnHover;
  rotate: 10deg;
  padding: 24px 24px;
  font-size: 22px;
  color: var(--secondary-color);
  background-color: #ffff;
}

nav .active-nav-btn {
  background-color: #ffff;
}

.btn {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  color: var(--main-color);
}

.icon-nav {
  margin-bottom: 8px;
}

.container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin-top: var(--space-from-nav);
  height: 100%;
  /* 24px is the margin on each side of the body = 48px */
  width: calc(100vw - 48px);
  transform: translate(0px, 100vh);
  animation: 1s ease 1s normal forwards 1 scrollUp;
}

.contact-section {
  height: 100%;
  min-width: 200px;
  text-align: center;
}

.contact-div {
  margin-bottom: 48px;
  color: var(--main-color);
}

.contact-div i {
  display: block;
  font-size: 32px;
  text-align: center;
  color: var(--main-color);
  padding-bottom: 8px;
}

.contact-detail {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}

.contact-detail a {
  color: var(--main-color);
}

.contact-heading {
  text-transform: uppercase;
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

.content {
  position: relative;
  margin-left: 24px;
}

.content.services {
  width: 100%;
}

/* HOME PAGE SPECIFIC */
.home-img {
  width: 100%;
  padding: 8px;
  background-color: #fff;
  border: 4px solid var(--secondary-color);
  outline: 4px solid var(--main-color);
  border-radius: 8px;
}

/* ABOUT PAGE SPECIFIC */

.about-article {
  position: relative;
  border: 2px solid var(--main-color);
  padding: 16px;
  border-radius: 8px;
  background-color: var(--main-color);
  color: var(--secondary-color);
  box-shadow: 0px 0px 16px var(--shadow-color);
  opacity: 0;
  animation: 1s ease 1s normal forwards 1 fadein;
}

.img-container {
  box-sizing: border-box;
  object-fit: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 4px;
  border: 4px solid var(--secondary-color);
  border-radius: 8px;
}

.about-text {
  padding: 16px;
  font-size: 18px;
}

/* SERVICES PAGE SPECIFIC */

.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 360px 360px 360px;
  gap: 64px 48px;
  padding: 0px 24px 48px 48px;
}

.service {
  position: relative;
  border: 2px solid var(--main-color);
  box-shadow: 0px 0px 16px var(--shadow-color);
  color: var(--main-color);
  border-radius: 8px;
  height: 100%;
  transform: translateX(400%);
  transition: transform 1.5s ease;
}

.service:nth-of-type(even) {
  transform: translateX(-400%);
}

.service.show {
  transform: translateX(0);
}

.service-img {
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  padding-top: 59px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.service-description {
  position: absolute;
  top: 0;
  font-weight: 600;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 16px 0px;
  margin: 0;
  width: 100%;
  font-size: 24px;
  background-color: var(--overlay-color);
}

/* MEDIA QUERIES */

@media (max-width: 1250px) {
  .site-heading h1 {
    font-size: 56px;
  }
}

@media (max-width: 1125px) {
  .site-heading h1 {
    font-size: 48px;
  }
  .services-container {
    grid-template-rows: 340px 340px 340px;
  }
}

@media (max-width: 1000px) {
  .site-heading h1 {
    font-size: 40px;
  }

  .services-container {
    grid-template-rows: 300px 300px 300px;
  }
}

/* TRUE MOBILE VERSION OF SITE STARTS HERE */
@media (max-width: 875px) {
  /* 94 bottom margin is equal to the height of the navbar plus 24px of extra space */
  body {
    margin: 24px 16px 94px 16px;
  }

  nav {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
    height: fit-content;
    box-shadow: 0px 0px 16px var(--shadow-color);
    transform: translate(0, 100vh);
    animation: 2s ease 1s normal forwards 1 scrollUp;
  }

  nav .btn,
  nav .btn:hover {
    position: static;
    transition: none;
    animation: none;
    padding: 12px 0px;
    height: max-content;
    width: 100%;
    min-width: auto;
    rotate: 0deg;
    font-size: 18px;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
  }

  .site-heading h1 {
    font-size: 32px;
  }

  .contact-section {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 16px 0px;
    margin-bottom: 24px;
  }

  .contact-div {
    margin-bottom: 0px;
  }

  .contact-div i {
    font-size: 24px;
  }

  .container {
    flex-direction: column;
    margin-top: 24px;
    width: 100%;
  }

  .services-container {
    grid-template-columns: 1fr;
    grid-template-rows: 70vw 70vw 70vw 70vw 70vw 70vw;
    gap: 48px 0px;
    padding: 0px 8px 24px 8px;
  }

  .content {
    margin-left: 0px;
  }
}

@media (max-width: 600px) {
  .services-container {
    gap: 36px 0px;
  }

  .service-description {
    font-size: 18px;
  }

  .service-img {
    padding-top: 52px;
  }

  .contact-section {
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 24px 8px;
  }

  .contact-section :last-child {
    margin-bottom: 0px;
    grid-column: span 2;
  }

  .icon-contact {
    margin-right: 8px;
  }
}

@media (max-width: 450px) {
  .site-heading h1 {
    font-size: 24px;
  }

  .contact-detail {
    font-size: 16px;
  }

  nav .nav-btn,
  nav .nav-btn:hover {
    font-size: 16px;
  }
}

@media (max-width: 340px) {
  .site-heading h1 {
    letter-spacing: 0.1cm;
  }
}

/* ANIMATION KEYFRAMES */

@keyframes navBtnHover {
  from {
    rotate: -10deg;
  }

  to {
    rotate: 10deg;
  }
}

@keyframes scrollUp {
  from {
    transform: translate(0, 100vh);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
